<h2>Create User</h2>

<form>
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" [(ngModel)]="request.name" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="gender" class="form-label">Gender</label>
      <input type="text" [(ngModel)]="request.gender" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="text" [(ngModel)]="request.email" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      
      <select [(ngModel)]="request.status" [ngModelOptions]="{standalone: true}" class="form-select">
        <option value="null" selected>-- Select --</option>
        <option  *ngFor="let status of statusDropdown" value="{{status}}">{{status}}</option>
      </select>
    </div>

    <button class="btn btn-primary" (click)="save()">save</button>
  </form>

  <div *ngIf="response.name">
    <label>ID: {{response.id}}</label><br />
    <label>Name: {{response.name}}</label><br />
    <label>gender: {{response.gender}}</label><br />
    <label>E-mail: {{response.email}}</label>
    <label>Status: {{response.status}}</label>
  </div>