<h2>Update User</h2>

<form *ngIf="request.name">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" [(ngModel)]="request.name" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="text" [(ngModel)]="request.email" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <input type="text" [(ngModel)]="request.status" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <button class="btn btn-primary" (click)="update()">Update</button>
  </form>