<h2>Update User</h2>

<form *ngIf="request.name">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" [(ngModel)]="request.name" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <div class="mb-3">
      <label for="profession" class="form-label">Profession</label>
      <input type="text" [(ngModel)]="request.job" [ngModelOptions]="{standalone: true}" class="form-control">
    </div>

    <button class="btn btn-primary" (click)="update()">Update</button>
  </form>